{{!

/**
 *  SFW2 - SimpleFrameWork
 *
 *  Copyright (C) 2023  Stefan Paproth
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program. If not, see <http://www.gnu.org/licenses/agpl.txt>.
 *
 */

}}

Hallo {{name}},
<br />
<br />
Du hast ein neues Passwort angefordert.
<br />
Bitte klicke auf den folgen Aktivierungslink, um die Anforderung zu bestätigen:
<br />
<br />
<a style="text-decoration: none;" href="{{link}}">{{link}}</a>
<br />
<br />
Solltest Du kein neues Passwort angefordert haben, dann lösche einfache diese Nachricht.
Dein bisheriges Passwort bleibt in diesem Fall unverändert.
<br />
<br />
Achtung: Der Link ist maximal {{expire}} gültig. Nach Ablauf dieser Zeit musst du dir einen neuen Link anfordern.
