<div class="modal-content">
    <div class="modal-header sfw2-no-border">
        <h1 class="modal-title fs-5">Passwort rücksetzen</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="sfw2-form-dialog-body" class="modal-body">
        <form id="sfw2-forgot-password-form">
            <div class="row">
                <div class="col mb-3">
                    Du hast dein Passwort vergessen? Hier hast du die Möglichkeit, es wieder rückzusetzen.
                    Dazu erhältst du eine E-Mail mit Bestätigungslink mit dem du dein Passwort neu vergeben kannst.
                </div>
            </div>
            <div class="row">
                <label for="sfw2-login-forgot-input-user" class="col-sm-4 col-form-label">Benutzername</label>
                <div class="col-sm-7">
                    <input
                        id="sfw2-login-forgot-input-user"
                        type="text"
                        class="form-control form-control-sm"
                        name="user"
                        value=""
                    />
                    <div class="invalid-feedback"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer sfw2-no-border">
        <button
            id="sfw2-form-dialog-button-send"
            type="button"
            class="btn btn-secondary sfw2-button-send"
            data-sfw2-form-id="#sfw2-forgot-password-form"
            data-sfw2-url="/authentication/reset" {{!TODO No Hardlinks!}}
        >
            okay
        </button>
    </div>
</div>
