{{!

/**
 *  SFW2 - SimpleFrameWork
 *
 *  Copyright (C) 2024  Stefan Paproth
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program. If not, see <http://www.gnu.org/licenses/agpl.txt>.
 *
 */

}}
<div class="modal-content">
    <div class="modal-header sfw2-no-border">
        <h1 class="modal-title fs-5">Abmelden</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        Du bist zur Zeit als <strong>{{sfw2_authority.user_name}}</strong> angemeldet. Möchtest du dich abmelden?
    </div>
    <div class="modal-footer sfw2-no-border">
        <button
            type="button"
            class="btn btn-secondary sfw2-button-send"
            data-sfw2-url="/authentication?do=logout" {{!TODO No Hardlinks!}}
        >
            abmelden
        </button>
    </div>
</div>