{{!

/**
 *  SFW2 - SimpleFrameWork
 *
 *  Copyright (C) 2024  Stefan Paproth
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program. If not, see <http://www.gnu.org/licenses/agpl.txt>.
 *
 */

}}
<div class="modal-content">
    <div class="modal-header sfw2-no-border">
        <h1 class="modal-title fs-5">Passwort ändern</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form id="sfw2-change-password-form">
            <div class="mb-5">
                <div class="alert alert-info" role="alert">
                   Das neue Passwort muss mindestens
                   <ul>
                       <li>einen Großbuchstaben</li>
                       <li>einen Kleinbuchstaben</li>
                       <li>8 Zeichen lang sein</li>
                       <li>ein Sonderzeichen enthalten</li>
                   </ul>
                   enthalten
                </div>
            </div>
            {{#if hash}}
            <input type="hidden" name="hash" value="{{hash}}" />
            {{else}}
            <div class="row">
                <label for="sfw2-change-password-old-pwd" class="col-sm-4 col-form-label text-body-secondary">altes Passwort</label>
                <div class="col-sm-7">
                    <input
                        id="sfw2-change-password-old-pwd"
                        type="password"
                        class="form-control form-control-sm"
                        name="oldpwd"
                        value=""
                    />
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <hr />
            {{/if}}
            <div class="row">
                <label for="sfw2-change-password-new-pwd" class="col-sm-4 col-form-label text-body-secondary">neues Passwort</label>
                <div class="col-sm-7">
                    <input
                        id="sfw2-change-password-new-pwd"
                        type="password"
                        class="form-control form-control-sm"
                        name="pwd"
                        value=""
                    />
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="row">
                <label for="sfw2-change-password-new-pwd-repeat" class="col-sm-4 col-form-label text-body-secondary">neues Passwort wiederholen</label>
                <div class="col-sm-7">
                    <input
                        id="sfw2-change-password-new-pwd-repeat"
                        type="password"
                        class="form-control form-control-sm"
                        name="pwdr"
                        value=""
                    />
                    <div class="invalid-feedback"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer sfw2-no-border">
        <button
            type="button"
            class="btn btn-secondary sfw2-button-send"
            data-sfw2-form-id="#sfw2-change-password-form"
            data-sfw2-url="/authentication/change" {{!TODO No Hardlinks!}}
        >
            ändern
        </button>
    </div>
</div>
