<div class="py-md-5 mx-auto">
    <div class="alert alert-danger" role="alert">
        <h3 class="mb-4">Achtung: </h3>
        <p>
            Das Passwort kann nicht zurückgesetzt werden! Dies kann mehrere Ursachen haben:
        </p>
        <ul>
            <li>Es wurden ein ungültiger Hash übergeben.</li>
            <li>Es wurde ein fehlerhafter Hash übergeben.</li>
            <li>Das Password wurde bereits zurückgesetzt.</li>
            <li>Es ist ein interner Fehler aufgetreten.</li>
            <li>Das Ablaufdatum wurde überschritten. Bitte achte darauf das Du innerhalb von <strong>{{expire}}</strong> reagierst!</li>
        </ul>
        <p>
            Versuche es bitte erneut. Sollte das Problem weiterhin bestehen dann melde Dich bitte.
        </p>
    </div>
</div>